{% extends "base.html" %}
{% block title %}Sensor details{% endblock %}
{% block content %}

<table class="table" width="100%">
    <tbody>
        <tr>
            <td>MAC</td>
            <td>{{ data[0] }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <form action="{{ url_for('save_name') }}" method="post">
                    <input type="text" class="form-control" name="sensorName" value="{{ data[1] }}">
                    <input type="hidden" name="sensorMac" value="{{ data[0] }}">
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td id="temperature_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td id="humidity_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Pressure</td>
            <td id="pressure_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Update timestamp</td>
            <td id="timestamp_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Acceleration</td>
            <td id="acceleration_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Acceleration X</td>
            <td id="acceleration_x_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Acceleration Y</td>
            <td id="acceleration_y_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Acceleration Z</td>
            <td id="acceleration_z_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>TX power</td>
            <td id="tx_power_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Battery</td>
            <td id="battery_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Movement counter</td>
            <td id="movement_counter_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Measurement sequence number</td>
            <td id="measurement_sequence_number_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>RSSI</td>
            <td id="rssi_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>Data format</td>
            <td id="data_format_{{ data[0] }}">n/a</td>
        </tr>
        <tr>
            <td>History</td>
            <td id="history_temperature_{{ data[0] }}">
                <input data-date-format="dd/mm/yyyy" id="history_datepicker">
                <br>
                <button onclick="getTemperatureHistoryLast24Hours()" class="btn btn-primary">Last 24 hours</button>
                <button onclick="getTemperatureHistoryDay()" class="btn btn-primary">Day</button>
                <button onclick="getTemperatureHistoryWeek()" class="btn btn-primary">Week (end day)</button>
                <div id="charts_loading_label" style="display:none;">
                    <h2>Loading...</h2>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div style="width: 800px;">
                    <canvas id="history_temperature"></canvas>
                </div>
                <div style="width: 800px;">
                    <canvas id="history_humidity"></canvas>
                </div>
                <div style="width: 800px;">
                    <canvas id="history_pressure"></canvas>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script>

    function updateReadings() {
        fetch("/api/sensor/{{ data[0] }}")
            .then(
                response => response.json()
            ).then(reading => {
                const mac = reading[1];

                document.getElementById("temperature_" + mac).innerHTML = reading[2];
                document.getElementById("humidity_" + mac).innerHTML = reading[3];
                document.getElementById("pressure_" + mac).innerHTML = reading[4];
                document.getElementById("timestamp_" + mac).innerHTML = getLocalTimestamp(reading[5]);
                document.getElementById("acceleration_" + mac).innerHTML = reading[6];
                document.getElementById("acceleration_x_" + mac).innerHTML = reading[7];
                document.getElementById("acceleration_y_" + mac).innerHTML = reading[8];
                document.getElementById("acceleration_z_" + mac).innerHTML = getLocalTimestamp(reading[9]);
                document.getElementById("tx_power_" + mac).innerHTML = reading[10];
                document.getElementById("battery_" + mac).innerHTML = reading[11];
                document.getElementById("movement_counter_" + mac).innerHTML = reading[12];
                document.getElementById("measurement_sequence_number_" + mac).innerHTML = getLocalTimestamp(reading[13]);
                document.getElementById("rssi_" + mac).innerHTML = reading[14];
                document.getElementById("data_format_" + mac).innerHTML = getLocalTimestamp(reading[15]);
            });
        setTimeout(updateReadings, 5000);
    }

    updateReadings();

</script>

<script>
    $(function () {
        $("#history_datepicker").datepicker({
            autoclose: true,
            todayHighlight: true,
        }).datepicker('update', new Date());
    });
</script>

<script>
    let g_temperatureChart = null;
    let g_humidityChart = null;
    let g_pressureChart = null;

    function showLoadingSpinner(show) {
        document.getElementById("charts_loading_label").style.display = show ? "block" : "none";
    }

    function getTemperatureHistoryLast24Hours() {
        const url = "/api/sensor/{{ data[0] }}/history/last24";
        getTemperatureHistoryDetail(url);
    }

    function getTemperatureHistoryDay() {
        const selectedDate = $("#history_datepicker").datepicker("getDate");
        // getMonth() + 1 because getMonth() returns 0 based month.
        const url = "/api/sensor/{{ data[0] }}/history/day/" + selectedDate.getFullYear() + "/" + (selectedDate.getMonth() + 1) + "/" + selectedDate.getDate();
        getTemperatureHistoryDetail(url);
    }

    function getTemperatureHistoryDetail(url) {
        if (g_temperatureChart) g_temperatureChart.destroy();
        if (g_humidityChart) g_humidityChart.destroy();
        if (g_pressureChart) g_pressureChart.destroy();

        showLoadingSpinner(true);

        fetch(url)
            .then(
                response => response.json()
            ).then(data => {
                showLoadingSpinner(false);
                g_temperatureChart = new Chart(
                    document.getElementById("history_temperature"),
                    {
                        type: "line",
                        data: {
                            labels: data.map(row => getLocalTimestampTimeOnly(row[4])),
                            datasets: [
                                {
                                    label: "Temperature",
                                    data: data.map(row => row[1])
                                },
                            ]
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: "Temperature"
                                }
                            }
                        }
                    }
                );

                g_humidityChart = new Chart(
                    document.getElementById("history_humidity"),
                    {
                        type: "line",
                        data: {
                            labels: data.map(row => getLocalTimestampTimeOnly(row[4])),
                            datasets: [
                                {
                                    label: "Humidity",
                                    data: data.map(row => row[2])
                                },
                            ]
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: "Humidity"
                                }
                            }
                        }
                    }
                );

                g_pressureChart = new Chart(
                    document.getElementById("history_pressure"),
                    {
                        type: "line",
                        data: {
                            labels: data.map(row => getLocalTimestampTimeOnly(row[4])),
                            datasets: [
                                {
                                    label: "Pressure",
                                    data: data.map(row => row[3])
                                },
                            ]
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: "Pressure"
                                }
                            }
                        }
                    }
                );
            });
    }

    function getTemperatureHistoryWeek() {
        if (g_temperatureChart) g_temperatureChart.destroy();
        if (g_humidityChart) g_humidityChart.destroy();
        if (g_pressureChart) g_pressureChart.destroy();

        showLoadingSpinner(true);

        const selectedDate = $("#history_datepicker").datepicker("getDate");

        // getMonth() + 1 because getMonth() returns 0 based month.
        fetch("/api/sensor/{{ data[0] }}/history/week/" + selectedDate.getFullYear() + "/" + (selectedDate.getMonth() + 1) + "/" + selectedDate.getDate())
            .then(
                response => response.json()
            ).then(data => {
                showLoadingSpinner(false);

                g_temperatureChart = new Chart(
                    document.getElementById("history_temperature"),
                    {
                        type: "line",
                        data: {
                            labels: data.map(row => getLocalTimestampDateOnly(row[1])),
                            datasets: [
                                {
                                    label: "Average",
                                    data: data.map(row => row[2])
                                },
                                {
                                    label: "Min",
                                    data: data.map(row => row[3])
                                },
                                {
                                    label: "Max",
                                    data: data.map(row => row[4])
                                }
                            ]
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: "Temperature"
                                }
                            }
                        }
                    }
                );

                g_humidityChart = new Chart(
                    document.getElementById("history_humidity"),
                    {
                        type: "line",
                        data: {
                            labels: data.map(row => getLocalTimestampDateOnly(row[1])),
                            datasets: [
                                {
                                    label: "Average",
                                    data: data.map(row => row[5])
                                },
                                {
                                    label: "Min",
                                    data: data.map(row => row[6])
                                },
                                {
                                    label: "Max",
                                    data: data.map(row => row[7])
                                }
                            ]
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: "Humidity"
                                }
                            }
                        }
                    }
                );
                g_pressureChart = new Chart(
                    document.getElementById("history_pressure"),
                    {
                        type: "line",
                        data: {
                            labels: data.map(row => getLocalTimestampDateOnly(row[1])),
                            datasets: [
                                {
                                    label: "Average",
                                    data: data.map(row => row[8])
                                },
                                {
                                    label: "Min",
                                    data: data.map(row => row[9])
                                },
                                {
                                    label: "Max",
                                    data: data.map(row => row[10])
                                }
                            ]
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: "Pressure"
                                }
                            }
                        }
                    }
                );
            });
    }


</script>

{% endblock %}